<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% load static %}
		<link rel="stylesheet" type="text/css" href="{% static "style.css" %}" >
        <title>Sign up for Hell</title>
    </head>
    <body>
		<h1>Sign up for Unnamed Project</h1>
        <form action="\entry\" method="post">{% csrf_token %}
			<input type="hidden" name="action" value="signup">
            <label for="entry">Enter Username:</label>
            <input id="username" type="text" name="username">
			<br />
            <label for="entry">Enter Password:</label>
            <input id="password" type="text" name="password">
			<br />
            <input type="submit" value="Sign up">
        </form>
		<p><a href="/">Login to an existing account</a></p>
    </body>
</html>
