<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static "style.css" %}" >
        <title>Welcome To Hell</title>
    </head>
    <body>
        <h1>What The Fuck Am I Doing</h1>
        <p>Your latest search was {{ search }} at {{ search_time }}.</p>
        <form action="\wiki\" method="post">{% csrf_token %}
            <label for="index">Enter Wiki Query:</label>
            <input id="index" type="text" name="index">
            <input type="submit" value="WHAM">
        </form>
    </body>
</html>
